<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> {% block pageTitle %}{% endblock %}
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/png" href="./icons/django.png">
</head>

<style>
    body {
        background-color: #f0f0f0;
        font-family: Arial, sans-serif;
        color: #333;
        text-align: center;
        padding: 50px;
    }

    h1 {
        color: #4CAF50;
        font-size: 2.5em;
    }

    div {
        text-align: justify;
    }
</style>

<body>

    <h1>Aprendiendo Django</h1>
    <h2>Arhivo personal de mis entradas</h2>

    {% block content %}{% endblock %}
</body>

</html>